.topbar {
  background-color: #131921;
  color: white;
  padding: 20px 0px;
}

.topbar nav {
  max-width: 960px;
}

.topbar ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.topbar li {
  margin: 0 20px 0 0;
  display: inline;
}

.topbar li a {
  color: white;
  text-decoration: none;
}
.topbar li a:hover {
  text-decoration: underline;
}
